/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

Button {
    -fx-padding: 10px, 30px;
    -fx-background-color: white;
    -fx-text-fill:  rgba(155,87,246,1);
    -fx-font-weight: 900;
    -fx-border-color: rgba(155,87,246,1);
    -fx-border-width: 2;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}